body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: linear-gradient(to left, #3a7bd5, #3a6073);
}
img {
  height: 200px;
  border-radius: 10px;
}
.card {
  background: lightskyblue;
  padding: 18px;
  border-radius: 18px;
  box-shadow: 8px 8px rgb(98, 149, 180);
}
a {
  color: #0d97d3;
  text-decoration: none;
}
a:hover {
  opacity: .75;
}
.dark {
  background: linear-gradient(to right, #16222a, #3a6073);
  color: white;
}
.dark .card {
  background: rgb(68, 68, 128);
}
.form {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 10px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #004e92;
  padding: 13px;
  margin: 15px 0px;
  width:100%;
}